{% if site.layout == 'stacked' %}
  {% assign metadata_styles = 'd-md-inline-block mx-3 mb-1 mb-md-0' %}
{% else %}
  {% assign metadata_styles = 'd-flex flex-items-center mb-3' %}
{% endif %}

<img src="photo.jpg" class="circle mb-3" style="max-width: 150px;">
<h1 class="{% if site.style == 'dark' %}text-white{% endif %} mb-2 lh-condensed">srbittner</h1>
<p class="mb-3 f4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
  PhD candidate at Columbia University doing neuroscience-motivated machine learning research.
</p>

{% if include.metadata %}
  <div class="f4 mb-6">
    {% if user.name %}
      <div class="{{ metadata_styles }}">
        {% octicon mark-github height:20 class:"mr-2 v-align-middle" fill:{{ icon_color }} aria-label:GitHub %}
        <a href="https://github.com/srbittner" {% if site.style == 'dark' %}class="text-white"{% endif %}>
          @srbittner
        </a>
      </div>
    {% endif %}
    {% if user.location %}
      <div class="{{ metadata_styles }} {% if site.style == 'dark' %}text-white{% endif %}">
        {% octicon location height:20 class:"mr-2 v-align-middle" fill:{{ icon_color }} aria-label:Location %}
        {{ user.location }}
      </div>
    {% endif %}
  </div>
{% endif %}
