<h2> Publications </h2><a href=https://scholar.google.com/citations?user=ufJo49UAAAAJ&hl=en&oi=ao>Google Scholar</a>
Abigail Russo, Ramin Khajeh, Sean Bittner, Sean Perkins, John Cunningham, LF Abbott, and Mark Churchland "<b>Neural trajectories in the supplementary motor area and primary motor cortex exhibit
distinct geometries, compatible with different classes of computation</b>." <a
href=https://www.sciencedirect.com/science/article/abs/pii/S0896627320303664>Neuron (2020)</a>.
<br>
<br>
<p>
Sean Bittner, Agostina Palmigiano, Alex Piet, Chunyu Duan, Carlos Brody, Kenneth Miller, and John Cunningham.
"<b>Interrogating theoretical models of neural computation with deep inference</b>." <a
href=https://www.biorxiv.org/content/10.1101/837567v1>bioRxiv (2019): 837567</a>.
<br>
<br>
Sean Bittner and John Cunningham. "<b>Approximating exponential family models 
(not single distributions) with a two-network architecture</b>."<a
href=https://arxiv.org/abs/1903.07515>arXiv preprint arXiv:1903.07515 (2019)</a>.
<br>
<br>
Abigail Russo, Sean Bittner, Sean Perkins, Jeffrey Seely, Brian London, Antonio Lara, Andrew Miri, Najja Marshall, 
Adam Kohn, Thomas Jessell, LF Abbott, John Cunningham, and Mark Churchland.  
<b>Motor cortex embeds muscle-like commands in an untangled population response.</b> 
<a href=https://www.sciencedirect.com/science/article/pii/S0896627318300072>Neuron 97.4 (2018):
953-966</a>.
<br>
<br>
Sean Bittner, Ryan Wiliamson, Adam Snyder, Ashok Litwin-Kumar,  Brent Doiron, Matt Smith, Steven Chase, and Byron Yu.
<b>Population activity structure of excitatory and inhibitory neurons.</b> <a href=https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0181773>PloS one 12.8 (2017): e0181773</a>.
<br>
<br>
Sean Bittner, Siheng Chen, and Jelena Kovacevic. <b>Fast algorithm for neural network reconstruction</b>. <a href=https://ieeexplore.ieee.org/document/7164008>In
Proc. IEEE Int. Sympo. Biomed. Imag., Brooklyn, NY, Apr. 2015</a>.

</p>

<h2>Invited Talks </h2>
<p>
"<b>Interrogating theoretical models of neural computation with deep inference</b>." Computational Neuroscience Journal Club, Princeton University, Princeton, NJ, Nov. 2019.
<br>
<br>
"<b>Degenerate solution networks (DSNs) for theoretical neuroscience</b>." Group for Neural Theory, École normale supérieure, Paris, France, Feb. 2019.
<br>
<br>
"<b>Controlling for known structure in population neural recordings using maximum entropy processes (MEPs)</b>." Bernstein Network Workshop on Dimensions of Neural Coding, Computation and Communication, Berlin, Germany, Sept. 2018.
<br>
<br>
"<b>Maximum entropy processes for population-level hypothesis testing</b>." Jazayeri Lab Meeting, Massachusetts Institute of Technology, Boston, MA, July 2018.
</p>


<h2>Abstracts </h2>
L. Sibener et al. Columbia University Neuroscience Outreach (CUNO): Publicly available curriculum to share science with our local community. Society for Neuroscience, Chicago, Illinois. 2019.
<br>
<br>
S. Bittner, Alex Piet, Chunyu Duan, Agostina Palmigiano, Kenneth D. Miller, Carlos Brody, and J. Cunningham. <b>Examining models in theoretical neuroscience with degenerate solution networks</b>.
Bernstein Network Computational Neuroscience Conference, Berlin, Germany, 2019.
<br>
<br>
A. Dmitrienko, S. Bittner, and J. Cunningham. <b>Investigating the structure of abstraction in neural networks with
population-level hypothesis testing</b>.  Joint Statistical Meeting, Denver, Colorado, 2019.
<br>
<br>
S. Bittner and J. Cunningham. <b>Approximating exponential family models (not single distributions) with a two-network
architecture</b>. Workshop on Invertible Neural Networks and Normalizing Flows, ICML, Long Beach, California, 2019.
<br>
<br>
S. Bittner and J. Cunningham. <b>Degenerate solution networks (DSNs) for theoretical neuroscience</b>. CoSyNe, Lisbon, Portugal, 2019.
<br>
<br>
A. Russo, S. Bittner, J. Seely, S. Perkins, B. London, N Marshall, A. Lara, A. Miri, A. Kohn, T. Jessell, L. Abbott, J. Cunningham, and M. Churchland. 
<b>Motor cortical activity reflects a detangled version of muscle activity.</b> Neural Control of Movement. Dublin,
Ireland, 2017.
<br>
<br>
A. Russo, S. Bittner, J. Seely S. Perkins, B. London, N. Marshall, A. Lara, A. Miri, A. Kohn, T. Jessell, L. Abbott, J.
Cunningham, and M. Churchland. <b>Changes in motor cortex population structure between movement types.</b> 
Society for Neuroscience. San Diego, CA, 2016.
<br>
<br>
S. Bittner, R. Williamson, A. Snyder, A Litwin-Kumar, B. Doiron, S. Chase, M. Smith, and B. Yu.  <b>Effects of
excitatory versus inhibitory neuron sampling on outputs of dimensionality reduction.</b>  
CoSyNe, Salt Lake City, Utah, Feb. 2016.
<br>
<br>
S. Bittner, R. Williamson, A. Litwin-Kumar, B. Doiron, and B. Yu. <b>Dimensionality reduction on membrane potentials
from neural populations.</b>  School on Neurophysiology for Neural and Biomedical Engineering, Zermatt, Switzerland, Aug. 2015.
