<h2> Publications </h2><a href=https://scholar.google.com/citations?user=ufJo49UAAAAJ&hl=en&oi=ao>Google Scholar</a>
<p>
Russo, Abigail A., et al. "<b>Neural trajectories in the supplementary motor area and primary motor cortex exhibit
distinct geometries, compatible with different classes of computation</b>." <a
href=https://www.biorxiv.org/content/10.1101/650002v1.abstract>bioRxiv (2019): 650002</a>.
<br>
<br>
Bittner, Sean R., and John P. Cunningham. "<b>Approximating exponential family models 
(not single distributions) with a two-network architecture</b>."<a
href=https://arxiv.org/abs/1903.07515>arXiv preprint arXiv:1903.07515 (2019)</a>.
<br>
<br>
A. Russo, S. Bittner, S. Perkins, J. Seely, B. London, A. Lara, A. Miri, N. Marshall, 
A. Kohn, T. Jessell, L. Abbott, J. Cunningham, and M. Churchland.  
<b>Motor cortex embeds muscle-like commands in an untangled population response.</b> 
<a href=https://www.sciencedirect.com/science/article/pii/S0896627318300072>Neuron 97.4 (2018):
953-966</a>.
<br>
<br>
S. Bittner, R. Wiliamson, A. Snyder, A. Litwin-Kumar,  B. Doiron, M. Smith, S. Chase, and B. Yu.
<b>Population activity structure of excitatory and inhibitory neurons.</b> <a href=https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0181773>PloS one 12.8 (2017): e0181773</a>.
<br>
<br>
S. Bittner, S. Chen, and J. Kovacevic. <b>Fast algorithm for neural network reconstruction</b>. <a href=https://ieeexplore.ieee.org/document/7164008>In
Proc. IEEE Int. Sympo. Biomed. Imag., Brooklyn, NY, Apr. 2015</a>.

</p>

<h2>Talks </h2>
<p>
S. Bittner and J. Cunningham. <b>Controlling for known structure in population neural recordings using maximum entropy
processes (MEPs).</b> Bernstein Network Computational Neuroscience Conference, Berlin, Germany, Sept. 2018.
<br>
<br>
S. Bittner, S. Chen, and J. Kovacevic. <b>Fast algorithm for neural network reconstruction.</b>  IEEE Int. Sympo. Biomed. Imag., Brooklyn, NY, Apr. 2015.
</p>



<h2>Abstracts </h2>
S. Bittner and J. Cunningham. <b>Approximating exponential family models (not single distributions) with a two-network
architecture.</b>. Workshop on Invertible Neural Networks and Normalizing Flows, ICML, Long Beach, California, 2019.
<br>
<br>
S. Bittner and J. Cunningham. <b>Degenerate solution networks (DSNs) for theoretical neuroscience</b>. CoSyNe, Lisbon, Portugal, 2019.
<br>
<br>
A. Russo, S. Bittner, J. Seely, S. Perkins, B. London, N Marshall, A. Lara, A. Miri, A. Kohn, T. Jessell, L. Abbott, J. Cunningham, and M. Churchland. 
<b>Motor cortical activity reflects a detangled version of muscle activity.</b> Neural Control of Movement. Dublin,
Ireland, 2017.
<br>
<br>
A. Russo, S. Bittner, J. Seely S. Perkins, B. London, N. Marshall, A. Lara, A. Miri, A. Kohn, T. Jessell, L. Abbott, J.
Cunningham, and M. Churchland. <b>Changes in motor cortex population structure between movement types.</b> 
Society for Neuroscience. San Diego, CA, 2016.
<br>
<br>
S. Bittner, R. Williamson, A. Snyder, A Litwin-Kumar, B. Doiron, S. Chase, M. Smith, and B. Yu.  <b>Effects of
excitatory versus inhibitory neuron sampling on outputs of dimensionality reduction.</b>  
CoSyNe, Salt Lake City, Utah, Feb. 2016.
<br>
<br>
S. Bittner, R. Williamson, A. Litwin-Kumar, B. Doiron, and B. Yu. <b>Dimensionality reduction on membrane potentials
from neural populations.</b>  School on Neurophysiology for Neural and Biomedical Engineering, Zermatt, Switzerland, Aug. 2015.
