<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Code</h2>
  <p>
  <h4>Emergent property inference (<a href=https://cunningham-lab.github.io/epi/>cunningham-lab/epi</a>) </h4>
  <h4>Normalizing flows, likelihood free inference in pytorch (<a href=https://github.com/srbittner/torch_nf>srbittner/torch_nf</a>) </h4>
  <h4>Exponential family networks (<a href=https://cunningham-lab.github.io/efn/>cunningham-lab/efn</a>) </h4>
  <h4>Tensorflow utils (<a href=https://github.com/cunningham-lab/tf_util/>cunningham-lab/tf_util</a>) </h4>
  <h4>Git template (<a href=https://cunningham-lab.github.io/git_template/>cunningham-lab/git_template</a>) </h4>
  <br>
  </p>
